.contact-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--nj-semantic-size-spacing-16);
    padding: var(--nj-semantic-size-spacing-32);
    background: var(--nj-semantic-color-background-neutral-secondary-default);

    .contact-card__info {
        display: flex;
        flex-direction: column;
        gap: var(--nj-semantic-size-spacing-8);
    }

    .contact-card__name {
        font-size: var(--nj-semantic-size-font-heading-4);
        font-weight: var(--nj-semantic-font-weight-bold);
        color: var(--nj-semantic-color-text-neutral-primary-default);
    }

    .contact-card__description {
        color: var(--nj-semantic-color-text-neutral-secondary-default);
    }

    .contact-card__link {
        color: var(--nj-semantic-color-text-brand-primary-default);
    }
}

.site-card {
    flex-shrink: 0;
    width: 500px;
    scroll-snap-align: center;
}

.data-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--nj-semantic-size-spacing-16);

    .data-card__value {
        font-size: var(--nj-semantic-size-font-heading-1);
        font-weight: var(--nj-semantic-font-weight-bold);
        color: var(--nj-semantic-color-text-status-discovery-primary-default);
    }
}